:root {
    --size: 16;
}

#grid {
    display: grid;
    width: calc(60px * var(--size));
    margin: auto;
    grid-template-columns: repeat(var(--size), 1fr);
    gap: 5px;
    grid-auto-rows: minmax(1px, auto);
}

#grid div {
    background: peachpuff;
    height: 50px;
    flex: 1;
}

#number {
    margin-left: 910px;
    padding-top: 20px;
    padding-bottom: 40px;
}