:root {
    --size: 16;
}

#grid {
    display: grid;
    width: 800px;
    height: 800px;
    margin: auto;
    grid-template-columns: repeat(var(--size), 1fr);
    grid-auto-rows: minmax(1px, auto);
}

#grid div {
    background: peachpuff;
}

#number {
    margin-left: 910px;
    padding-top: 20px;
    padding-bottom: 40px;
}

#number button {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 20px;
}